/*
FONT INTEGRATION
*/
h1 {
	font-family: "Playwrite CU", cursive;
	font-optical-sizing: auto;
	font-weight: 400;
	/* Modifica questo valore per cambiare il peso */
	font-style: normal;
}


.myImg {
	height: 200px;
}